/* 
	The idea was to replicate the given designs without using Grid, Flex, or positioning.
	Everything should be made using borders, paddings, and margins (i.e., only Flow layout).
*/

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
	--primary: hsl(160deg, 100%, 30%);
	--secondary: hsl(45deg, 100%, 50%);
	--secondary-dark: hsl(45deg, 100%, 40%);
	--black: hsl(0deg, 0%, 0%)
	--gray-400: hsl(0deg, 0%, 10%);
	--gray-300: hsl(0deg, 0%, 30%);
	--gray-200: hsl(0deg, 0%, 40%);
	--gray-100: hsl(0deg, 0%, 60%);
	--white: hsl(0deg, 0%, 100%);
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header {
	margin-top: 48px;
	padding-bottom: 48px;
	border-bottom: 8px solid var(--gray-200);
}

main {
	background-color: var(--gray-100);
	padding: 48px 0;
}

section {
	border-bottom: 8px solid var(--gray-200);
	background-color: var(--white);
}

h1, h2 {
	margin: 0;
}

p {
	line-height: 1.4;
}

p:last-of-type {
	margin-bottom: 0;
}

strong {
	color: var(--primary);
}

.max-width-wrapper {
	max-width: 650px;
	width: 100%;
	padding: 16px;
	/* background-color: red; */
	margin: 0 auto
}

.intro-chunk p {
	max-width: 35ch;
}

.indented-heading {
	background-color: var(--secondary);
	border-bottom: 8px solid var(--secondary-dark);
	padding: 16px 24px;
	width: fit-content;
	margin-left: -24px;
}